Repository way-zer/ContentsTweaker, pull requests merged in 2022-02, with the labels that each got.

#2 增强死星和爬，略削弱蜂群和齐射伤害，回调雷光的高射速机制。削弱兵种修复能力
  .gitignore
  contents/flood/src/mindustry/content/flood/Blocks.java
  contents/flood/src/mindustry/content/flood/Bullets.java
  contents/flood/src/mindustry/content/flood/UnitTypes.java
Labels: contents:flood

#5 修复指令和资源包加载时机问题
  loaderMod/src/main/kotlin/cf/wayzer/contentsMod/ContentsLoader.kt
Labels: mod

#8 修复蓝图无法正常使用的问题
  loaderMod/src/main/kotlin/cf/wayzer/contentsMod/ContentsLoader.kt
Labels: bug, mod

#9 修复Jitpack因Java版本编译错误
  .jitpack.yml
Labels: bug, ci

#10 增加Android支持
  loaderMod/build.gradle.kts
Labels: enhancement, mod

#11 修复`逻辑常量`和`科技树`问题
  loaderMod/src/main/kotlin/cf/wayzer/contentsMod/ContentsLoader.kt
  loaderMod/src/main/kotlin/cf/wayzer/contentsMod/MyContentLoader.kt
Labels: bug, mod

#13 (flood) 删除力墙多余的水消耗
  .github/workflows/build.yml
  contents/flood/src/mindustry/content/flood/Blocks.java
Labels: contents:flood

#14 调整加载流程;新增扩展包,支持多包加载
  .github/release-drafter.yml
  .github/workflows/build.yml
  build.gradle.kts
  contents/build.gradle.kts
  contents/origin/README
  contents/src/Contents.kt
  core/build.gradle.kts
  core/src/cf/wayzer/ContentsLoader.kt
  loaderMod/build.gradle.kts
  loaderMod/src/main/kotlin/cf/wayzer/contentsMod/Contents.kt
  loaderMod/src/main/kotlin/cf/wayzer/contentsMod/ContentsLoader.kt
  loaderMod/src/main/kotlin/cf/wayzer/contentsMod/Main.kt
  loaderMod/src/main/resources/mod.json
  settings.gradle.kts
Labels: enhancement, mod, contents:new
