Repository way-zer/ContentsTweaker, pull requests merged in 2022-03, with the labels that each got.

#20 加强火焰炮，雷霆伤害范围减伤害增加，略削弱T4爬伤害
  contents/flood/src/mindustry/content/flood/Bullets.java
  contents/flood/src/mindustry/content/flood/UnitTypes.java
Labels: contents:flood

#19 (contents/exFactoryNotConsume) 修复崩溃问题
  contents/src/Contents.kt
  core/src/cf/wayzer/ContentsLoader.kt
Labels: core, contents

#21 修复逻辑绘图中content图标丢失
  core/src/cf/wayzer/ContentsLoader.kt
Labels: core
